@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: dark --default, light --preferslight, cupcake;
}

* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem; /* 340px */
  --breakpoint-xs: 23.125rem; /* 363px */
  --breakpoint-xxl: 82.5rem; /* 1320px */

  /* مقلوب الألوان علشان يديلك شكل داكن */
  --color-picto-primary: #bb86fc; /* بنفسجي فاتح للـ dark */
  --color-picto-primary-dark: #3700b3; /* بنفسجي غامق */
  --color-soft-white: #1e1e1e; /* بدل الأبيض => غامق */
  --color-soft-dark: #cfcfcf; /* بدل الرمادي الغامق => فاتح */
}

.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:scale-[102%] hover:bg-picto-primary-dark transition-all duration-500;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-soft-white);
  color: var(--color-soft-dark);
}

.content {
  @apply max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium;
}

.center {
  @apply flex justify-center items-center;
}

.introduction-profile-background {
  background: radial-gradient(
      circle at 12% 100%,
      #2d2d2d 1% 5px,
      transparent 15%
    ),
    radial-gradient(circle at 95% -15%, #3f1c56 5%, transparent 30%),
    radial-gradient(circle at center right, #163831 2%, transparent 35%);
}

.blog-background {
  background: radial-gradient(circle at -10% 0%, #3f1c56 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #163831 5%, transparent 25%);
}
